.CanvasComponentContainer {
//   border: 1px solid saddlebrown;
}

.Screen {
  background-color: #282c34;
  color: white;
  height: 100%;
}

.Screen-live {
  background-color: red;
}
.Screen-breaking-news {
  background-color: red;
}

.Screen-headline {
  background-color: #dedede;
  color: black;
}
.Screen-storyline {
  background-color: yellow;
  color: black;
}
